body {
    background-color: #67645e;
}

h1 {
    color: #d1f0fd;
    margin-left: 30px;
}

h4 {
    color: #d1f0fd;
    font-family: sans-serif;
    margin-left: 30px;
}

img {
    max-width: 99%;
    max-height: 99%;
}

img:hover {
    opacity: 0.8;
}

div#first {
    height: 644px;
    width: 472px;
    position: static;
    top: 59px;
    right: 50px;
    object-fit: contain;
    overflow: auto;
}

div#second {
    height: 528px;
    width: 870px;
    position: static;
    top: 175px;
    object-fit: contain;
    overflow: auto;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #67645e;
}

.flex-container>div {
    background-color: #67645e;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}